/* custom.css */

body {
    min-height: 100vh !important;
}

.main-page-container {
    min-height: 100vh !important;
}

/* Fonts*/

/* Define the Ubuntu font */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
         url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Define the Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the Ubuntu font to all headers (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

/* Apply the Poppins font to all paragraph elements */
p {
    font-family: 'Poppins', sans-serif;
}

/* Page */
.page-container {
    max-width: 99%;
}

/* Quick Bar*/
.quick-bar {
    margin-bottom: 2em;
    background: #292b26;
}

.quick-bar-links button {
    padding: 20px 0;
    background: none;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05pc !important;
    font-size: 13px;
}

.quick-bar-links button:hover {
    background: #484a48;
    color: white;
}

.quick-bar-stats .badge {
    padding: 5px 15px;
}

.stat-value {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.quick-link-stat-unit {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0 !important;
    margin: 0;
}

/* Navbar*/
.navbar-container {
    background: url("../images/navbar-background-1.png") no-repeat center center;
    background-color: white;
    background-size: 600px;
    background-position: left center;
    border-bottom: #fafafa 1px solid;
}

.navbar {
    position: relative; /* Ensure the navbar is positioned */
    max-width: 90%;
    margin: auto;
    padding: 10px 0; /* Remove padding if you want the nav items to extend to the edges */
}

.navbar-light .navbar-nav .nav-link {
    color: #6b6b6b; /* This will be the color of your nav items */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #e9ecef; /* Color for active or hovered nav items */
}

.nav-item {
    list-style-type: none; /* Removes bullet points */
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Links */
.nav-link {
    letter-spacing: 0.1pc !important;
    padding: 0 4px !important;
    text-transform: uppercase;
    color: black !important;
}

.nav-link:hover {
    background: #c3fd48 !important;
}

.nav-link.active {
    border-bottom: solid 2px black;
    margin-bottom: -2px;
}

.nav-link.active:hover {
    border-bottom: solid 2px black;
    margin-bottom: -2px;
    background: none !important;
}


/* Adjustments for the logout link and user greeting */
.navbar-text {
    margin-left: 15px; /* Spacing between text and avatar */
    margin-right: 5px; /* Spacing between text and badge */
}

/*Cards*/

.card {
    border: none;
    border-radius: 0 !important;
}

.card-header {
    border-bottom: solid 2px #292b26 !important;
    background: #f8f9fa;
    text-align: center;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1pc !important;
}

/*Logout Page*/
.logged-out-message {
    background: #efffcd;
    padding: 20px;
    border: solid 2px #c3fd48;
    color: #658f0d;
}

/*Metrics*/
.metric-amount {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.metric-details {
    font-size: 14px;
    color: #787878;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-body .metric:not(:last-child) {
    border-right: solid 1px #d5d5d5;
}


/*Login Page*/
#heroVideo {
    filter: grayscale(100%) brightness(30%);
    position: absolute;
    width: 54em;
    left: -20em;
}

.video-container {
    position: relative;
    overflow: hidden;
    /* Set explicit dimensions if necessary, e.g., width and height */
}

.login-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures the image is above the video */
}

.login-logo {
    display: block; /* Removes default inline spacing */
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    height: auto; /* Maintains the aspect ratio of the image */
}

.login-page {
    height: 100vh !important;
    padding-top: 14vh;
    background: url("../images/navbar-background-1.png") no-repeat center center;
    background-color: white;
    background-size: 2000px;
    background-position: center;
    border-bottom: #fafafa 1px solid;
}

.login-image-col {
    border-radius: 10px 0 0 10px !important;
}

.login-container {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.forgot-password {
  position: absolute;
  text-decoration: none;
  color: black;
  right: 0px;
  top: 0;
  font-size: 0.9em;
}

.forgot-password:hover {
  color: #7CAF00;
}

.checkbox input {
  margin-right: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: none;
}

.divider {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider:before,
.divider:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;
}

.login-button {
  font-weight: 500
}

.login-button:hover {
   background: #c3fd48;
   color: black;
   transition: 0.2s;
}

.register-now {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.register-now a {
  color: #000;
}

/* Add any other styles as needed */


/*Footer*/

footer {
    left: 0;            /* Align to the left edge */
    bottom: 0;          /* Align to the bottom edge */
    width: 100%;        /* Span the full width of the viewport */
    background-color: #333; /* Background color */
    color: white;       /* Text color */
    text-align: center; /* Center the text */
    padding: 10px 0;    /* Padding for aesthetic spacing */
    z-index: 1000;      /* Ensure it's on top of other elements */
}

.footer-container {
    max-width: 90%;
}

.footer-logo {
    text-align: left;
}

.footer-text {
    text-align: right;
}

/*Body*/
body {
    background-color: #f8f9fa; /* Light gray background for slight contrast */
}

/*Login*/
#login-form {
    background: #ffffff;
}

.login-form-col {
    background: white;
    padding: 40px;
}

/*Sidebar*/
aside {
    background-color: #f7f7f7;  /* Light grey */
    padding: 15px;
    border-radius: 5px;  /* Rounded corners */
}

aside h4 {
    font-weight: bold;
    color: #333;  /* Darker color for emphasis */
    border-bottom: 2px solid #ddd;  /* Underline for separation */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.col-3 aside .list-group {
    /* Any styles specific to this list group */
}

.col-3 aside .list-group-item a {
    color: #6b6b6b;  /* Bootstrap's default blue */
    text-decoration: none;
}

.col-3 aside .list-group-item a:hover {
    text-decoration: underline;
}

aside ul {
    margin-bottom: 20px;  /* Space between lists */
}

aside li {
    margin-bottom: 10px;  /* Space between list items */
}

aside h4:first-child {
    margin-top: 0;  /* Remove margin from the first header */
}

/* Tables */
.sos-table thead {
    background: #292b26;
}

.sos-table th {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.sos-table thead a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.08pc !important;
    text-transform: uppercase;
}

.sos-table th a {
    text-decoration: none !important;
    color: white;
    white-space: nowrap;
}

.sos-table td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}

th.asc::after, th.desc::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    color: #99d800;
    font-size: 12px;
}

th.asc {
    background: #484a48;
}

th.desc {
    background: #484a48;
}

th.asc::after {
    content: "▲";
}

th.desc::after {
    content: "▼";
}

/* Backgrounds */
.bg-sos {
    background: #99d800;
    color:black;
}

.btn-sos {
    background: #99d800;
    color:black;
}

.btn-sos:hover {
    background: #c3fd48;
}

/* Modals */

.sos-header {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1pc !important;
    background: #282B25;
}

.disabled-section {
   opacity: 0.5;
   pointer-events: none;
   user-select: none;
}