/* custom.css */

/* Fonts*/

/* Define the Ubuntu font */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
         url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Define the Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the Ubuntu font to all headers (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

/* Apply the Poppins font to all paragraph elements */
p {
    font-family: 'Poppins', sans-serif;
}

/* Page */
.page-container {
    max-width: 90%;
}

/* Navbar*/
.navbar-container {
    background: url("../images/navbar-background-1.png") no-repeat center center;
    background-color: white;
    background-size: 600px;
    background-position: left center;
    border-bottom: #fafafa 1px solid;
}

.navbar {
    position: relative; /* Ensure the navbar is positioned */
    max-width: 90%;
    margin: auto;
    padding: 10px 0; /* Remove padding if you want the nav items to extend to the edges */
}

.navbar-light .navbar-nav .nav-link {
    color: #6b6b6b; /* This will be the color of your nav items */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #e9ecef; /* Color for active or hovered nav items */
}

.nav-item {
    list-style-type: none; /* Removes bullet points */
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav Links */
.nav-link {
    letter-spacing: 0.1pc !important;
    padding: 0 4px !important;
    text-transform: uppercase;
    color: black !important;
}

.nav-link:hover {
    background: #c3fd48 !important;
}

.nav-link.active {
    border-bottom: solid 2px black;
    margin-bottom: -2px;
}

.nav-link.active:hover {
    border-bottom: solid 2px black;
    margin-bottom: -2px;
    background: none !important;
}


/* Adjustments for the logout link and user greeting */
.navbar-text {
    margin-left: 15px; /* Spacing between text and avatar */
    margin-right: 5px; /* Spacing between text and badge */
}

/*Footer*/

footer {
    position: fixed;    /* Fixed positioning */
    left: 0;            /* Align to the left edge */
    bottom: 0;          /* Align to the bottom edge */
    width: 100%;        /* Span the full width of the viewport */
    background-color: #333; /* Background color */
    color: white;       /* Text color */
    text-align: center; /* Center the text */
    padding: 10px 0;    /* Padding for aesthetic spacing */
    z-index: 1000;      /* Ensure it's on top of other elements */
}

.footer-container {
    max-width: 90%;
}

.footer-logo {
    text-align: left;
}

.footer-text {
    text-align: right;
}

/*Body*/
body {
    background-color: #f8f9fa; /* Light gray background for slight contrast */
}

/*Login*/
#login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*Sidebar*/
aside {
    background-color: #f7f7f7;  /* Light grey */
    padding: 15px;
    border-radius: 5px;  /* Rounded corners */
}

aside h4 {
    font-weight: bold;
    color: #333;  /* Darker color for emphasis */
    border-bottom: 2px solid #ddd;  /* Underline for separation */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.col-3 aside .list-group {
    /* Any styles specific to this list group */
}

.col-3 aside .list-group-item a {
    color: #6b6b6b;  /* Bootstrap's default blue */
    text-decoration: none;
}

.col-3 aside .list-group-item a:hover {
    text-decoration: underline;
}

aside ul {
    margin-bottom: 20px;  /* Space between lists */
}

aside li {
    margin-bottom: 10px;  /* Space between list items */
}

aside h4:first-child {
    margin-top: 0;  /* Remove margin from the first header */
}
