{% load djmoney %}

{% for opportunity in opportunities %}
    <tr id="opportunity-{{ opportunity.id }}" class="opportunity-row">
        <td class="text-center">{{ opportunity.id }}</td>
        <td>{{ opportunity.name }}</td>
        <td>{{ opportunity.description }}</td>
        <td>{{ opportunity.status }}</td>
        <td>{{ opportunity.agency.name }}</td>
        <td>{{ opportunity.client.name }}</td>
        <td>{{ opportunity.business_unit.name }}</td>
        <td>{{ opportunity.product.name }}</td>
        <td>{{ opportunity.fiscal_year.year }}</td>
        <td>{{ opportunity.target }}</td>
        <td>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_opportunity' opportunity_id=opportunity.id %}" hx-target="#dialog">Edit</button>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}