{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block title %}Opportunity Portfolio Planner{% endblock %}

{% block content %}
    <div class="container-fluid">

        {# Load the Table via HTMX #}
        <div hx-trigger="load, opportunityListChanged from:body" hx-get="{% url 'opportunity_list' %}?{{ current_params }}" hx-target="this" >
        </div>

        <hr>

        <button hx-get="{% url 'add_opportunity' %}" hx-target="#dialog" class="mt-3 btn btn-sos">
          Add an opportunity
        </button>
    </div>

    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog modal-xl" hx-target="this"></div>
    </div>

    {# Custom JS #}
    <script src="{% static "js/dialog.js" %}"></script>
{% endblock %}

{# Planner Summary Stats #}
{% block sidebar_stats %}
<span class="badge rounded-pill bg-sos">Revenue (Forecasted): <span class="stat-value">{{ total_forecasted_revenue }}</span></span>
<span class="badge rounded-pill bg-sos">Revenue (Last Fiscal): <span class="stat-value">{{ total_revenue_last_fiscal }}</span></span>
<span class="badge rounded-pill bg-sos">Avg Deal Size: <span class="stat-value">{{ avg_deal_size }}</span></span>
{% endblock %}