{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Science of Sales - GROW Dashboard{% endblock %}

{% block content %}
<div class="container-fluid mt-4 dashboard-container px-0">

    <div class="row mb-4 h-100">
        <div class="col-md-6 d-flex">
            <!-- Top Brands Pie Chart -->
            <div class="card mb-4 top-brands-pie-chart w-100">
                <div class="card-header">ACTUAL vs FORECAST vs BUDGET
                    <select id="brandNumberFilter" name="number" hx-get="top_brands/" hx-trigger="change" hx-swap="innerHTML" hx-target="#top-brands-budget-chart-container" hx-vals="{number: $number.val}">
                        <option value="3">Top Three</option>
                        <option value="5" selected>Top Five</option>
                        <option value="10">Top Ten</option>
                    </select>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center" style="height: auto;">
                    <div id="top-brands-budget-chart-container" hx-get="top_brands/" hx-trigger="load" >
                        <!-- Bar graph content here - rendered via HTMX -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <!-- G.R.O.W. Status Tracker -->
            <div class="card mb-4 grow-status-tracker w-100">
                <div class="card-header">G.R.O.W. Status Tracker
                    <select id="periodFilter" name="period" hx-get="grow_status/" hx-trigger="change" hx-swap="innerHTML" hx-target="#grow-status-chart-container" hx-vals="{period: $period.val}">
                        <option value="annual">Annual</option>
                        {# Removing these for now as we cannot support anything other than annual #}
                        {# <option value="q1">Quarter 1</option>#}
                        {# <option value="q2">Quarter 2</option>#}
                        {# <option value="q3">Quarter 3</option>#}
                        {# <option value="q4">Quarter 4</option>#}
                        {# <option value="current_month">Current Month</option>#}
                    </select>
                </div>
                <div class="card-body">
                    <div id="grow-status-chart-container" hx-get="grow_status/" hx-trigger="load">
                        <!-- Bar graph content here - rendered via HTMX -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sales Time Left & Opportunities in one row -->
    <div class="row mb-4 h-100">
        <div class="col-md-6 d-flex">
            <div class="card w-100">
                <div class="card-header">Sales Time Remaining</div>
                    <div id="time-remaining-chart-container" hx-get="time_remaining/" hx-trigger="load">
                        <!-- Bar graphs content here - rendered via HTMX -->
                    </div>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card w-100">
                <div class="card-header">Opportunities</div>
                    <div class="card-body d-flex justify-content-center align-items-center p-2" style="height: auto;">
                        <div id="opportunities-chart-container" hx-get="opportunities_status/" hx-trigger="load">
                            <!-- Pie graphs content here - rendered via HTMX -->
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- Brands Table -->
    <div class="card mb-4 performance-table" >
        <div class="card-header">Brands Summary</div>
            {# We use the dashboard_action url and give the named action to get to the right url. We then pass in the URL params from the original request in order filter the table #}
            <div id="brand-table-container" hx-get="{% url 'dashboard_action' action='brand_table' %}?{{ request.GET.urlencode }}" hx-trigger="load">
                <!-- Brand Table content here - rendered via HTMX -->
            </div>
    </div>

</div>

<script src="{% static 'js/charts.js' %}" type="text/javascript"></script>
{% endblock %}
