{% extends 'minimal_base.html' %}
{% load i18n static %}
{% load widget_tweaks %}

{% block title %}{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if validlink %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="lead">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post" class="mt-4">{% csrf_token %}
                <fieldset class="module aligned">
                    <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="mb-3">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1" class="form-label">{% translate 'New password:' %}</label>
                        {{ form.new_password1|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2" class="form-label">{% translate 'Confirm password:' %}</label>
                        {{ form.new_password2|add_class:"form-control" }}
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-primary">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="lead">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
