{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" class="modal-content">
    <div class="modal-header sos-header">
        <h5 class="modal-title">Edit Opportunity</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-6">
                <fieldset>
                    <div class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                        {% render_field form.description class="form-control" placeholder="Description about the opportunity" %}
                        <div class="invalid-feedback">{{ form.description.errors|first }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.status.id_for_label }}" class="form-label">Status</label>
                        {% render_field form.status class="form-control" %}
                        <div class="invalid-feedback">{{ form.status.errors|first }}</div>
                    </div>
                </fieldset>
            </div>

            <!-- Second Column -->
            <div class="col-md-6">
                <fieldset>
                    <div class="mb-3 form-section">
                        <label for="{{ form.agency.id_for_label }}" class="form-label">Agency</label>
                        {% url 'filtered_brands' as brands_url %}
                        {% render_field form.agency class="form-control" hx-get=brands_url hx-trigger="change" hx-target="#brand-select" %}
                        <div class="invalid-feedback">{{ form.agency.errors|first }}</div>
                    </div>
                    <div class="mb-3 form-section">
                        <label for="{{ form.brand.id_for_label }}" class="form-label">Brand</label>
                        <div id="brand-select">
                            {% url 'filtered_business_units' as bu_url %}
                            {% render_field form.brand class="form-control" hx-get=bu_url hx-trigger="change" hx-target="#business-unit-select" %}
                        </div>
                        <div class="invalid-feedback">{{ form.brand.errors|first }}</div>
                    </div>
                    <div class="mb-3 form-section">
                        <label for="{{ form.business_unit.id_for_label }}" class="form-label">Business Unit</label>
                        <div id="business-unit-select">
                            <select name="business_unit" class="form-control">
                                <option value="">...</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">{{ form.business_unit.errors|first }}</div>
                    </div>
                    <div class="mb-3 form-section">
                        <label for="{{ form.product.id_for_label }}" class="form-label">Product</label>
                        {% render_field form.product class="form-control" %}
                        <div class="invalid-feedback">{{ form.product.errors|first }}</div>
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Third Section -->
        <fieldset>
            <legend>Financial Details</legend>
            <div class="row">
                <!-- Left Side -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.target.id_for_label }}" class="form-label">Target</label>
                        {% render_field form.target class="form-control" %}
                        <div class="invalid-feedback">{{ form.target.errors|first }}</div>
                    </div>
                </div>
                <!-- Right Side -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="{{ form.fiscal_year.id_for_label }}" class="form-label">Fiscal Year</label>
                        {% render_field form.fiscal_year class="form-control" %}
                        <div class="invalid-feedback">{{ form.fiscal_year.errors|first }}</div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        {% if opportunity %}
        <button type="button" class="btn btn-danger" hx-post="{% url 'remove_opportunity' opportunity_id=opportunity.id %}">Remove</button>
        <span class="flex-grow-1"></span>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-sos">Save & Close</button>
        <button type="submit" class="btn btn-sos">Save & Create Another</button>
    </div>
</form>
{% endwith %}
